* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Avenir', sans-serif;
}
body {
    
    max-width: 1440px;
    max-height: 100%; 
    margin: auto;
    padding: 65px; 
    /* background: blue; */
}
.front{
    display: flex;
    justify-content: space-between;
    /* background: lightsalmon; */

}
.jump{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    gap: 2px;
    /* background: yellow; */
    height: 600px;
    width: 430px;
    flex-wrap:wrap
    
    
}

.title{
    /* background: rgb(17, 221, 34); */
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 30px;
}
.subtitle{
    /* background: violet; */
    color: #252525cc;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}
.buttom
{
    width: 157px;
    height: 50px;
    background: #252525;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 16px;
}

.primera_parte {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    /* background: red; */
    justify-content: center;
    margin-left: 35px;
   

}
.img1{

}
.img2{margin-top: 200px;}



.segunda_parte {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;

    /* background: black; */
}
